* {
    box-sizing:  border-box;
}

body {
    font-family:  Helvetica;
}

header {
    background-color:  #afeeee;
    padding-top:  20px;
    padding-bottom:  10px;
    text-align:  center;
    font-size:  40px;
    color:  white;
}

.tab {
    overflow: hidden;
    border: 1px solid #c1d6ff;
    background-color: #c1d6da;
}
  
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color:  white;
    width:  20%;
}
  
.tab button:hover {
    background-color: #c1d6fa;
}
  
.tab button.active {
    background-color: #c1d6ff;
}
  
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

h2 {
    background-color:  #99ffcc;
    color:  white;
    padding: 5px;
}